
#jv-footer {
    background-color: #423838 !important ;
}
.headline {
    color: white !important;
} 
.social-networks {
    border-right: 0.0625rem solid black !important;
}
.highlight {
    background-color: #A5A5B1 !important;
}

.content-title{
    color: white !important;
}

#jv-footer .highlight a{
    color: white !important;
}


#jv-footer {
    background-color: #423838 !important ;
}  

